
#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f3f4f5e8;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    padding: 7px 20%;
}

#banner {
    padding-top: 63.3px;
  }

.logo {
    cursor: pointer;
    margin-right: auto;
    width: 200px;
}

.ul_menu {
    list-style: none;
    margin: 0;
}

.ul_menu li {
    display: inline-block;
    padding: 0px 10px;
}

.ul_menu li a {
    text-decoration: none;
    position: relative;
    color: #131623;
    font-size: 14px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}




.ul_menu a::before {
    content: "";
    position: absolute;
    border: 1px solid #00FFFF;
    border-radius: 5px;
    bottom: -3px;
    left: 0;
    width: 100%;
    transform: scaleX(1);
    transform-origin: left;
    transition: all 0.3s ease-in-out 0s;
}

.ul_menu a:hover::before {
    transform: scaleX(0);
    border: 1px solid #FE8E2A;
}

.stock button {
    background: #4AAEC1;
    background-image: -webkit-linear-gradient(top, #4AAEC1, #1E62D0);
    background-image: -moz-linear-gradient(top, #4AAEC1, #1E62D0);
    background-image: -ms-linear-gradient(top, #4AAEC1, #1E62D0);
    background-image: -o-linear-gradient(top, #4AAEC1, #1E62D0);
    background-image: -webkit-gradient(to bottom, #4AAEC1, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 15px;
    text-shadow: 0 1px 19px #000000;
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-left: 10px;
    transition: all 0.3s ease 0s;
 }
 
 .stock button:hover {
    background: #FE8E2A;
    background-image: -webkit-linear-gradient(top, #FE8E2A, #f8a342);
    background-image: -moz-linear-gradient(top, #FE8E2A, #f8a342);
    background-image: -ms-linear-gradient(top, #FE8E2A, #f8a342);
    background-image: -o-linear-gradient(top, #FE8E2A, #f8a342);
    background-image: -webkit-gradient(to bottom, #FE8E2A, #f8a342);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
    color: #131623;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
 }





