#oficina {
    margin: 60px 0;
    width: 100%;
    padding: 10px 0;
}

.contenedor-oficina {
    margin: 40px 0;
    background-image: url(/img/oficina/IMG_3665.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    max-width: 100%;
    height: 700px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    position: relative;
    transition: all 0.5s ease 0s;
}

.titulo-oficina {
    text-align: center;
    color: #131623;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 35px;
    word-spacing: 20px;
}

.span_oficina {
    word-spacing: 0;
    transition: all 0.5s ease 0s;
}

.span_oficina:hover {
    color: orange;
}

.contenedor-parrafo {
    position: absolute;
    right: 0;
    padding: 20px;
}

.parrafo-oficina {
    color: white;
    font-weight: 500;
    text-shadow: 2px 2px 3px black;
    line-height: 2;
    font-size: calc(0.6vw + 8px);
    max-width: 100%;
    margin: 0;
}