#oficina {
    margin: 60px 0;
    width: 100%;
    padding: 10px 5%;
    position: relative;
    background-color: #F3F4F5e8;
}

.oficina-background {
    background-image: url(../img/oficina/IMG_3666.JPG);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
}

.segundo-contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 5px;
    padding-top: 20px;
    max-width: 100%;
}

.contenedor-span {
    text-align: center;
}

.icono {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.imagen-icono {
    width: 70px;
}

.detalle-icono {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9em;
}

.contenedor-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
}

.titulo-oficina {
    position: relative;
    font-size: 4.5rem;
    color: #131623;
    font-family: "Poetsen One", sans-serif;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.titulo-oficina::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    color: #00FFFF;
    -webkit-text-stroke: 1px #00FFFF;
    border-right: 2px solid #00FFFF;
    overflow: hidden;
    animation: move 5s alternate ease-in-out infinite;
    text-transform: uppercase;
}

.subtitulo {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
}

@keyframes move {
    0% {
        width: 0%;
    }
    100% {
        width: 51.5%;
    }
}


