@import url(../css/header.css);
@import url(../css/stock.css);
@import url(../css/marquee.css);
@import url(../css/mediaqueries.css);
@import url(../css/oficina.css);
@import url(../css/iniciar-sesion.css);
@import url(../css/api.css);


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
}

section[id] {
  scroll-margin-top: 60px;
}

.icono-wasap {
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  z-index: 999;
}


