@import url(/css/header.css);
@import url(/css/en_stock.css);
@import url(/css/marquee.css);
@import url(/css/mediaqueries.css);
@import url(/css/oficina.css);


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
}

section[id] {
  scroll-margin-top: 60px;
}

